@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';

@import 'variables/colors';

@import 'overrides/bootstrap_overrides';

@import 'commons';

@font-face {
  font-family: 'Pokemon';
  src:font-url('pokemon_pixel_font.ttf');
}

td {
  font-family: "Pokemon";
}
